/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.price{
    color: red;
    font-weight: 600;
}

span{
    text-decoration: line-through;
    color: black;
}

.above-img{
    z-index: 2;
}

.heart{
    padding: 0.4em;
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: white;
    font-size: 2em;
}

.banner{
    padding: 0.2em 0.4em;
    color: white;
    font-weight: 600;
}

.banners-img div{
    display: inline-block;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

img{
    width: 100%;
    /* height: 100%; */
}
/* HEADER */
header{
    background-color: #ff6900;

    /* DEBUG */
    width: 100%;
    height: 100px;
}

/* MAIN */
.main-container{
    margin-bottom: 6em;
}
.row{
    /* DEBUG */
    width: 70%;
    margin: 2em auto;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 5em;
    column-gap: 1em;
}

.col{
    width: calc((100% / 3) - 20px);
    /* DEBUG */
    background-color: white;
    /* height: 650px; */
    position: relative;

}

.banners-img{
    position: absolute;
    left: 0;
    bottom: 6em;
}

/* FOOTER */
footer{
    background-color: #1a1a1a;

    /* DEBUG */
    height: 100px;
    width: 100%;
}




/* CARDS */
.card{
    width: 100%;
}


.one{
    position: absolute;
}

.col:hover .one{
    display: none;
}

.heart:hover{
    color: red;
}