/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.price{
    color: red;
    font-weight: 600;
}

span{
    text-decoration: line-through;
    color: black;
}

.above-img{
    z-index: 2;
}

.heart{
    padding: 0.4em;
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: white;
    font-size: 2em;
}

.banner{
    padding: 0.2em 0.4em;
    color: white;
    font-weight: 600;
}

.banners-img div{
    display: inline-block;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

img{
    width: 100%;
    /* height: 100%; */
}

ul{
    list-style-type: none;
}

i{
    color: white;
}
/* HEADER */
header{
    background-color: #ff6900;
    position: fixed;
    /* DEBUG */
    width: 100%;
    height: 80px;
    z-index: 5;
}

.header-container{
    width: 70%;
    margin: 0 auto;
    line-height: 80px;
    display: flex;
    justify-content: space-between;

}

 header ul li {
    display: inline-block;
    margin: 0 .2em;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}

header img{
    width: 10em;
    padding: 1.5em 0;
}


/* MAIN */
.main-container{
    margin-bottom: 6em;
    padding-top: 3em;
}
.row{
    /* DEBUG */
    width: 70%;
    margin: 10em auto 2em;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 5em;
    column-gap: 1em;
}

.col{
    width: calc((100% / 3) - 20px);
    /* DEBUG */
    background-color: white;
    /* height: 650px; */
    position: relative;

}

.banners-img{
    position: absolute;
    left: 0;
    bottom: 6em;
}

/* FOOTER */
footer{
    background-color: #1a1a1a;

    /* DEBUG */
    height: 80px;
    width: 100%;
}

.footer-container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h3{
    color: white;
}

.footer-info{
    padding: 1em;
}

footer ul li{
    display: inline-block;
    list-style-type: none;
    margin-top: .5em;
    margin-right: .5em;
    font-size: .8em;
}

h4{
    color: white;
}



/* CARDS */
.card{
    width: 100%;
}


.one{
    position: absolute;
}

.col:hover .one{
    display: none;
}

.heart:hover{
    color: red;
}